input{
    border: 1px solid grey;
}
a{
    text-decoration: none;
}
.add{
    color: rgb(71, 207, 71);
    font-size: 40px;
}
.add span{
    font-size: 26px;
    color: black;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}
.fa-power-off{
    color: red;
    
}
.logout:hover{
    color: red;
}